@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

*:focus-visible{
  outline: none;
}
body {
  color: rgb(var(--foreground-rgb));
}
.dark-bg .swiper-pagination-bullet-active{
  background: var(--theme-color) !important;
}

html:has([data-ui="NextStudioLayout"]) .nav,
html:has([data-ui="NextStudioLayout"]) .footer{
  display:none;
}

.features-icons-containers > svg,
.icons-container > svg{
  width: 100% !important;
  height: 100% !important;
}

.customFocusRing:focus{
  --tw-ring-color: var(--theme-color);
}
.customBg{
  background-color: var(--theme-color);
}
.customFocusOutline:focus-visible{
  outline-color: var(--theme-color);
}